body {
  background: #f1f2ec;
  color: #404041;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 14px;
  line-height: 26px;
}

a {
  color: #4cc6f3;
}

a:hover {
  text-decoration: none;
}

img {
  border: 10px solid #ccc;
  text-align: center;
}

h1 a {
  color: #fcb040;
  text-decoration: none;
}

h1, h2 {
  border-bottom: 1px solid #ddd;
  font-family: "Yanone Kaffeesatz";
  font-size: 60px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

h1 {
  color: #fcb040;
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 3px 0;
  padding: 0 0 20px 0;
}

h2 {
  color: #4cc6f3;
  font-size: 30px;
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
}

h2 a {
  text-decoration: none;
}

p {
  margin: 0 0 14px 0;
}

p:last-child {
  margin: 0;
}

blockquote {
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 22px 0;
  overflow: auto;
  padding: 11px 15px 12px;
}

code, pre {
  font-family: Consolas, Menlo, "Courier New", monospace;
  font-size: 14px;
}

pre {
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
  border-left: 10px solid #d5d5d5;
  font-family: Consolas, Menlo, "Courier New", monospace;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 22px;
  margin-left: -25px;
  overflow-x: auto;
  padding: 11px 15px 12px;
}

pre::-webkit-scrollbar {
  height: 25px;
}

pre::-webkit-scrollbar-button:start,
pre::-webkit-scrollbar-button:end {
  display: none;
}

pre::-webkit-scrollbar-track-piece  {
  background-color: #eee;
}

pre::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border: 7px solid #eee;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 12px;
}

p code,
li code {
  border: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 14px;
  line-height: 20px;
  padding: 1px 5px;
  white-space: nowrap;
}

ul,
ol {
  list-style: inside;
  margin: 0 0 22px 12px;
}

li {
  margin: 0 0 5px 0;
}

.top {
  background: url("../imgs/top-bg.png");
  height: 5px;
  margin: 0 0 25px 0;
}

.sidebar {
  font-size: 13px;
  float: left;
  padding: 0 10px 20px 30px;
  width: 240px;
}

.sidebar .logo {
  color: #fcb040;
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.sidebar p {
  color: #666;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.main {
  float: left;
  padding: 0 0 50px 30px;
  width: 600px;
}

ul.nav {
  margin: 11px 0 20px 0;
  border-top :1px solid #ddd;
}

ul.nav li {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

ul.nav li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

ul.nav li a:hover {
  color: #000;
}

.related {
  margin-top: 20px;
}

.related ul {
  margin: 0;
  padding: 0;
}
.related li {
  border-bottom: 1px solid #ddd;
  color: #777;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 5px 0px;
}

.related li span.date {
  float: right;
}

.related a {
  text-decoration: none;
}

.related a:hover {
  text-decoration: underline;
}

.authoring {
  color: #777;
  font-size: 18px;
  margin: 5px 0 0 0;
}

a.email {
  display: block;
  padding: 10px 12px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: #4cc6f3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.email strong {
  color: #fff;
}

a.email:hover strong {
  text-decoration: underline;
}
