<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>Marco Bascietto &sect; {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="description" content="Marco Bascietto's GitHub home-page" />
<meta name="keywords" content="recommender systems, music, AI, coder, CBR, portfolio, CV, curriculum, work" />
<meta name="viewport" content="width=960" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<h1><a href="/" rel="start" title="Home Page (accesskey 0)" accesskey="0">Marco Bascietto</a></h1>
    
{{ content }}
  
<div id="footer_box">
    Last updated on August 13, 2010 &middot;
    <q>Nothing short of everything will really do</q> &middot;
    Contact me at <span class="email">marco.bascietto@ibaf.cnr.it</span>
</div>

</body></html>