<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/monokai.css" />

    <link rel="stylesheet"
          type="text/css"
          href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />

  </head>

  <body>
    <div class="top"></div>

    <div class="sidebar">
      <a href="/" class="logo">Marco Bascietto</a>

      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/experiments">Experiments</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/ask">Ask me a question</a></li>
      </ul>

      <p>
        Hello
      </p>

      <p>
        You can find me at <strong>marco.bascietto@ibaf.cnr.it</strong>,
        <strong>mbask</strong> on
        <a href="https://github.com/mbask">GitHub</a>.
      </p>
    </div>
  
    <div class="main">
      {{ content }}
    </div>
  </body>
  
  <script>
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4eb1b1fd613f5d6151000005');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</html>
